<div class="container">
  <div class="box insideDivForm">
    <form [formGroup]="FlightBooking">
        <!-- country div -->
        <div>
            
            <i class="far fa-flag"  [ngClass]="(f.bookingCountry.invalid) ?'mandatory':'completed'"  matTooltip="שדה חובה"></i>
            <select matNativeControl required formControlName="bookingCountry">
              <option value="" disabled selected>בחר מדינה</option>
              <option *ngFor="let country of aCountries" [value]="country.name" >{{country.name}}</option>
            </select>
        </div>
        <!-- date picker div -->
        <div class="dateDivContainer">
            <div class="dateDiv">
                <i class="far fa-calendar-alt" [ngClass]="(f.bookingDateFrom.invalid) ?'mandatory':'completed'" matTooltip="שדה חובה" style="cursor: pointer;"(click)="pickerFrom.open()"></i>
                <input formControlName="bookingDateFrom" matInput [matDatepicker]="pickerFrom" (dateInput)="onStartDateChange()" [min]="minDateFrom" [max]="f.bookingDateTo.value" placeholder="תאריך מ...">
                <mat-datepicker #pickerFrom></mat-datepicker>
            </div>
            <div class="dateDiv">
                <i class="far fa-calendar-alt " [ngClass]="(f.bookingDateTo.invalid) ?'mandatory':'completed'" matTooltip="שדה חובה" style="cursor: pointer;"(click)="pickerTo.open()"></i>
                <input formControlName="bookingDateTo" matInput [matDatepicker]="pickerTo" [min]="minDateTo" placeholder="תאריך עד..." [disabled]="f.bookingDateFrom.invalid">
                <mat-datepicker #pickerTo></mat-datepicker>
            </div>
        </div>
        <!-- notes div -->
        <div class="notesDiv">
            <i class="far fa-sticky-note completed noteIcon"></i>
            <textarea class="notesText" formControlName="bookingNotes" placeholder="הערות..."></textarea>
        </div>
        <div style="text-align:center">
           <button mat-raised-button  (click)="addTravel()" [ngClass]="{'btnDisabled':ErrorObj.isSubmitBtnDisable || FlightBooking.invalid}" [disabled]="ErrorObj.isSubmitBtnDisable || FlightBooking.invalid" >שלח</button>
        </div>
        <!-- error msg -->
        <div *ngIf="ErrorObj.isSubmitBtnDisable" class="txtError">
        <p >{{ErrorObj.msg}}</p>
        </div>
    </form>

<!-- list of travels  -->
  </div>
  <div class="box insideDivTable">
      <div *ngIf="dataSource.length == 0" class="noData">
        <p style="font-size: 25px;">אין כרגע נתונים להצגה</p>
        <p style="font-size: 15px;">אנא בחר יעד ותאריך</p>
    </div>
    <table *ngIf="dataSource.length >0" #travelTable mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>מס.</th>
          <td mat-cell *matCellDef="let element"> {{element.bookingNumber}} </td>
        </ng-container>
      
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> מדינה </th>
          <td mat-cell *matCellDef="let element"> {{element.bookingCountry}} </td>
        </ng-container>
      
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef> מתאריך </th>
          <td mat-cell *matCellDef="let element"> {{element.bookingDateFrom | date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef> עד תאריך </th>
          <td mat-cell *matCellDef="let element"> {{element.bookingDateTo | date}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef> הערות </th>
          
          <td mat-cell *matCellDef="let element"> <i class="far fa-sticky-note" [ngStyle]="{'opacity':element.bookingNotes ? '1' : '0.3' }" matTooltip="{{element.bookingNotes}}"></i> </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</div>