
@import "../../styles/variables";


.container {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-color: $div-main-background;
  }
  
.box {
    margin: 60px;
    padding: 25px;
    width: 35%;
    border-radius: 35px;;
  }

.insideDivForm{
    background-color: $div-in-background;
    height: 250px;
}
.insideDivTable{
    background-color: $div-table-background;
    height: 450px;
}
select{
    margin: 5px;
    color:  #212121;
    padding: 8px 16px;
    border: 1px solid black;
    border-color: black;
    cursor: pointer;
}
.dateDivContainer{
    display: flex;
    flex-flow: row;
    
}
.dateDiv input{
    margin: 5px;
    padding: 8px 16px;
    width: 140px;
    border: 1px solid black;
    border-color: black;
    
}


.notesDiv .noteIcon{
    position: relative;
    top:-15px;
}
.notesDiv textarea{
    margin: 5px;
    padding: 10px;
    width: 350px;
    border: 1px solid black;
    border-color: black;

}
// option{
//     color: #212121;
// }